### Python template
__pycache__/
*.py[cod]
*$py.class
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
docs/_build/
.ipynb_checkpoints
profile_default/
ipython_config.py
__pypackages__/
/dist/
build

### CVS template
/CVS/*
**/CVS/*
.cvsignore
*/.cvsignore

### SVN template
.svn/

### PuTTY template
# Private key
*.ppk

### SublimeText template
# Cache files for Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace

# Sublime-github package stores a github token in this file
GitHub.sublime-settings

### JetBrains template
.idea/
out/

### VisualStudioCode template
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

### Windows template
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
*.lnk

### macOS template
.DS_Store
.AppleDouble
.LSOverride

### Linux template
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
